body{
    margin: 2%;
    border: 1px solid black;
    background-color: #b3b3b3;
}
#image{
line-height: 20;
/* width: 575px; */
height: 450px;
border: 3px solid black;
margin: 0 auto;
background-color: #8e68ff;
background-image: url(style.css);
background-repeat: no-repeat;
color: #FFFFFF;
text-align: center;
background-size: 100%;
margin-bottom: 25px;
font-size: 150%;
margin: 20px;
border-radius: 10px;
}
.preview{
width: 30%;
margin: 10px;
margin-left: 12%;
border: 10px solid black;
border-radius: 20px;
}
img{
    width:95%;
}
.preview alt{
font-size: 20px;
}
.preview1{
    width: 30%;
    margin: 10px;
    margin-left: 12%;
    border: 10px solid black;
    border-radius: 20px;
    
}
.name{
    text-align: right;
}
#footer{
    display:flex;
    width: 4%;
}
#footer1{
    width: 2%;
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
}
.footer{
    box-sizing: border-box;
    background-color: #09121287;
    border-radius: 20px;
    margin: 10px;
    align-items: center;
}
.navbar-nav{
    display: flex;
    padding: 20px;
    align-items: center;
    margin: 5px;
}
